<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnPlagRiz - A Free Plagiarism Checker</title>
    {{!-- Link to CSS StyleSheet --}}
    <link rel="stylesheet" href="../css/styles.css">
    {{!-- Link to Font Awesome Icons --}}
    <script src="https://kit.fontawesome.com/1bdbec0da6.js" crossorigin="anonymous"></script>
</head>
<body>
    {{!-- Navigation Bar Partial --}}
    {{>navbar}}
    
    {{!-- Link to Javascript --}}
    <script src="../js/script.js"></script>
</body>
</html>