<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>UnPlagRiz - A Free Plagiarism Checker</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <span name="U" class="logo-up">U</span>
            <span name="P" class="logo-up">P</span>
            <span name="R" class="logo-up">R</span>
            <span name="UnPlagRiz">UnPlagRiz</span>
        </div>
        <ul class="navbar-list">
            <li><a href="">Check Plagiarism</a></li>
            <li><a href="">Login</a></li>
        </ul>
        <div class="mobile-icon">
            <i class="fa-solid fa-bars" name="menu-btn"></i>
        </div>
    </nav>
    <script src="https://kit.fontawesome.com/1bdbec0da6.js" crossorigin="anonymous"></script>
</body>
</html>