 {{!-- Section Here --}}
    <section class="main-section">
        <div class="main-container">
            <h2 class="main-heading">Plagiarism Checker</h2>
            <p class="main-paragraph">Copy Paste your text here Or Drag and Drop a document here...</p>
            <textarea name="text-box" id="main-text-box"></textarea>
        </div>
    </section>