{{!-- Partial for Navigation Bar --}}
<header class="nav-header">
        {{!-- Logo --}}
        <div class="logo-container">
            <span class="logo-lower">UnPlagRiz</span>
        </div>

        {{!-- Navigation Links --}}
        <ul class="nav-list">
            {{!-- Logo in Menu - For Mobile users --}}
            <div class="list-banner">
            <div class="logo-container-list">
                <span class="logo-lower">UnPlagRiz</span>
            </div>
            </div>
            <li><a href="#">Check Plagiarism</a></li>
            <li><a href="#">Login</a></li>
        </ul>

        {{!-- Buttons for non-desktop views --}}
        <div class="mobile-btn" name="ham">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="mobile-btn" name="close">
            <i class="fa-solid fa-xmark"></i>
        </div>
    </header>