/* CSS root - Holds Global CSS variables */
:root{
    --navBarColor:#38023B;
    --navBarHeight:6rem;
}

/* Basic Universal Styling */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Setting html props to set 1rem = 10px */
html{
    font-size: 62.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Temporary Styling - For Development */
/* header,div,nav,ul{
    border:1px solid red;
} */

/* Main Container for Navigation bar */
.nav-header{
    display:flex;
    padding: 0rem 2rem;
    height: var(--navBarHeight);
    background-color: var(--navBarColor);
    color:white;
    font-size: 1.5rem;
}

/* Styling for Website's Logo */
.logo-container{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:0rem 1rem

    /* Was trying to center the logo... */
    /* text-align: center; */
    /* line-height: var(--navBarHeight); */
}

/* Styling for Navigation's list */
.nav-header .nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:100%;
    list-style: none;
}

.nav-header .nav-list li a{
    text-decoration: none;
    padding:1.8rem 2rem;
    color:white
}

/* Styling for Navigation's mobile btns */
.nav-header .mobile-btn{
    text-align: center;
}

.nav-header .mobile-btn i{
    width: var(--navBarHeight);
    height: var(--navBarHeight);
    line-height: var(--navBarHeight);
}

/* Hiding Mobile btns - For Desktop View */
.mobile-btn[name="ham"],.mobile-btn[name="close"]{
    display:none;
}

/* Hiding Mobile List Logo */
.list-banner{
    display:none;
}

/* Media Query - For Responsive Non-Desktop views */
@media (max-width: 980px){
    html,body{
        overflow:hidden;
        height: 100vh;
    }

    /* Getting Navigation-list off view & flushing header padding */
    .nav-header{
        position:relative;
        padding:0;
    }
    
    .nav-header .nav-list{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 70vw;
        height: 100vh;
        background-color: white;

        /* Getting the list off view */
        position:absolute;
        left:100%;

        /* Adding transitions */
        transition: all 0.5s ease;
    }
    
    .nav-header .nav-list li a{
        color:black;
        display:inline-block;
        padding:1.5rem;
    }
    
    /* Getting Logo in Center*/
    .nav-header .logo-container{
        margin:auto;
    }
    
    /* Unhiding Menu button */
    .mobile-btn[name="ham"]{
        display:block;
        position:absolute;
        right:0;
        z-index:100;
    }

    /* Hiding Close button */
    .mobile-btn[name="close"]{
        display:none;
    }

    /* Style Rules when .mobile class is toggled */
    .mobile .nav-list{
        /* Getting list view in Viewport */
        transform: translateX(-100%);
        /* Adding transitions */
        transition: all 0.5s ease;
        /* Adding Effects */
        box-shadow: 2px 2px 20px 10px rgb(192, 192, 192);
        border-bottom-left-radius: 1rem;
    }

    /* Switching between two buttons */
    .mobile .mobile-btn[name="ham"]{
        display:none;
    }

    .mobile .mobile-btn[name="close"]{
        display:block;
        position:absolute;
        right:0;
        z-index:100;
    }

    /* Styling for mobile-list-logo */
    .list-banner{
        display:block;
        width:100%;
        height:var(--navBarHeight);
        background-color: var(--navBarColor);
    }

    .list-banner .logo-container-list{
        width:100%;
        height: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    /* Styling to mobile list links */
    .mobile .nav-list li a{
        display:inline-block;
        padding:1.5rem;
    }

    .mobile .nav-list li a:hover{
        border-bottom:1px solid var(--navBarColor);
    }
}

